.navbar{
    width: 50%;
    height: 60px;
    display: flex;
    border-bottom:2px solid #f29999 ;
    border-top:2px solid #f29999 ;
    justify-content: center;
    align-items: center;
}

.navbar-ul{
    list-style: none;
    display: flex;
    font-size: large;
    margin-left: 11%;
    margin: auto;
}

.navbar-ul-2{
    list-style: none;
    display: flex;
    font-size: medium;
    margin-top: 20px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    margin-left: 57%;
    position: absolute;   
 
}

.navbar-brandName{
    margin-top: 0px;
    padding-left: 25%;
    font-size:50px;
}

.navbar-menuItems{
    background-color: transparent;
    border: none;
    font-size: 16px;
    text-align: center;
    border-bottom: 3px solid transparent;
    position: relative;
    margin-top: 1px;
    padding: 20px;
}

.navbar-menuItems:hover{
    border-bottom:3px solid #bf4565;
    color: #bf4565;
}

.navbar-searchInput{
    height: 35px;
    margin-top: 13px;
    margin-left:8%;
    border-radius: 10px;
    border: none;
    background-color: rgba(158, 151, 151, 0.2) ;
    font-size: 15px;
    text-align: center;
  
}
.navbar-searchInput:focus{
    border-color: transparent;
    outline: none;
}


.dropdown-menu {
    background: #fff;
    box-shadow: 0px 10px 30px 0px rgba(82, 63, 105, 0.15);
    transition: all linear 0.3s;
    display: flex;
    position: absolute;
    width:37%;
    height: 300px;
    left:32.3%;
    z-index: 10;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
  }

  .dropdown-ul{
    list-style: none;
    padding: unset;
    margin: unset;
    display: flex;
    font-size: 13px;
    margin-left: -15px;
    margin-top: 15px;
    
  }
  
  .dropdown-li{
    margin-bottom: 15px;

}

  .dropdown-content-ul{
    list-style: none;  
  }

  .dropdown-li-a{
    text-decoration: none;
    color: black;
    font-family: 'Ubuntu', sans-serif;

}

  .dropdown-li-a:hover{
    border-bottom:1px solid #bf4565;
    color: #bf4565;

}

.navbar-ul2-li{
  text-decoration: none;
  color: black;
}
.icons{
  height: 17px;
  width: 17px;
  margin-left: 5px;
  margin-right: 20px;
}