.all-component{
    justify-content: center;
    width: 1250px;
    align-items: center;
    margin:auto;
}


.navbar{
    height: 60px;
    display: flex;
    border-bottom:2px solid #f29999 ;
    border-top:2px solid #f29999 ;
    position: relative;

}

.navbar-ul{
    list-style: none;
    display: flex;
    margin: auto;
    width: 100%;
    justify-content: center;
}


.navbar-ul-2{
    list-style: none;
    display: flex;
    margin-top: 20px;
    margin-left: 930px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    position: absolute;

 
}

.navbar-brandName{
    margin-top: 0px;

    font-size:50px;
}

.navbar-menuItems{
    background-color: transparent;
    border: none;
    font-size: 16px;
    text-align: center;
    border-bottom: 3px solid transparent;
    position: relative;
    margin-top: 1px;
    padding: 20px;
}





.navbar-menuItems:hover{
    border-bottom:3px solid #bf4565;
    color: #bf4565;
}

.navbar-searchInput{
    height: 35px;
    margin-top: 13px;
    margin-left:15%;
    border-radius: 10px;
    border: none;
    background-color: rgba(158, 151, 151, 0.2) ;
    font-size: 15px;
    text-align: center;
  
}
.navbar-searchInput:focus{
    border-color: transparent;
    outline: none;
}



.dropdown-menu {
    background: #fff;
    box-shadow: 0px 10px 30px 0px rgba(82, 63, 105, 0.15);
    transition: all linear 0.3s;
    display: flex;
    position: absolute;
    width:943px;
    overflow: hidden;
    box-sizing: border-box;
    height: 300px;
    margin: auto;
    top: 105%;
    left: 175px;
    z-index: 10;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
  }
  
  .dropdown-container {
    position: absolute;
    top: 100%; /* Navbarın hemen altında başlaması için */
    left: 0; /* Navbarın tam başından başlaması için */
  }
  .dropdown-ul{
    list-style: none;
    padding: unset;
    margin: unset;
    display: flex;
    font-size: 13px;
    margin-left: -15px;
    margin-top: 15px;
   
    
  }
  
  .dropdown-li{
    margin-bottom: 15px;
    position: relative;

}

  .dropdown-content-ul{
    list-style: none;  

  }

  .dropdown-li-a{
    text-decoration: none;
    color: black;
    font-family: 'Ubuntu', sans-serif;

}

  .dropdown-li-a:hover{
    border-bottom:1px solid #bf4565;
    color: #bf4565;

}

.navbar-ul2-li{
  text-decoration: none;
  color: black;
  font-size: 15px;
}
.icons{
  height: 15px;
  width: 15px;
  margin-left: 5px;
  margin-right: 10px;
}